In [2]:
import numpy as np

Задание 1.

In [3]:
a = np.array([[1, 6],
             [2, 8],
             [3, 11],
             [3, 10],
             [1, 7]])

In [6]:
mean_a = a.mean(axis = 0)

In [7]:
print(mean_a)

[2.  8.4]

Задание 2.

In [8]:
a_centered = a - mean_a

In [9]:
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

Задание 3.

In [20]:
a_centered_sp =  a_centered[0:, :1].T @ a_centered[0:, 1:]

In [38]:
print(a_centered_sp /(len(a_centered[0:, :1]) -1 ))

[[2.]]

Задание 4.

In [37]:
print(np.cov(a.T))

[[1.  2. ]
 [2.  4.3]]

 Тема Работа с данными в Pandas

Задание 1

In [40]:
import pandas as pd

In [42]:
authors = pd.DataFrame ({" author_id" : [1, 2, 3], "author_name" : ["Тургенев", "Чехов", "Островский"]})

In [43]:
book = pd.DataFrame ({" author_id" : [1, 1, 1, 2, 2, 3, 3], "book_title" : ["Отцы и дети"," Рудин", "Дворянское гнездо", "Толстый и тонкий", "Дама с собачкой", "Гроза", "Таланты и поклонники"], "price" : [450, 300, 350, 500, 450, 370, 290]})

Задание 2.

In [46]:
authors_price = pd.merge(authors, book, on=" author_id", how="outer")

In [47]:
authors_price

    author_id author_name            book_title  price
0           1    Тургенев           Отцы и дети    450
1           1    Тургенев                 Рудин    300
2           1    Тургенев     Дворянское гнездо    350
3           2       Чехов      Толстый и тонкий    500
4           2       Чехов       Дама с собачкой    450
5           3  Островский                 Гроза    370
6           3  Островский  Таланты и поклонники    290

Задание 3.

In [50]:
top5 = authors_price.sort_values("price", ascending=False).head(5)

In [52]:
print (top5)

    author_id author_name         book_title  price
3           2       Чехов   Толстый и тонкий    500
0           1    Тургенев        Отцы и дети    450
4           2       Чехов    Дама с собачкой    450
5           3  Островский              Гроза    370
2           1    Тургенев  Дворянское гнездо    350

Задание 4.

In [53]:
authors_stat = authors_price.groupby("author_name", as_index=False).min()

In [107]:
min_price = authors_price.groupby("author_name", as_index=False).min()[["author_name", "price"]].rename(columns = {"price":"min_price"})

In [108]:
max_price = authors_price.groupby("author_name", as_index=False).max()[["author_name" ,"price"]].rename(columns = {"price":"max_price"})

In [109]:
mean_price = authors_price.groupby("author_name", as_index=False).mean()[["author_name","price"]].rename(columns = {"price":"mean_price"})

In [110]:
authors_st = pd.merge(min_price, max_price, on ="author_name" , how = "outer")

In [111]:
authors_stat = pd.merge(authors_st, mean_price, on ="author_name" , how = "outer")

In [112]:
authors_stat

  author_name  min_price  max_price  mean_price
0  Островский        290        370  330.000000
1    Тургенев        300        450  366.666667
2       Чехов        450        500  475.000000